@{
    ViewData["Title"] = "Home Page";
}
<style>
    button {
        margin: 5px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Главная</h1>
    <div>
        <button>Проекты</button><button>Сотрудники</button>
    </div>
</div>
